.redes{
  float: right;
  background-color:   black;
  margin-top: 50px;
}

.logo{
  max-width: 100px;
}
/*.navegacion{
  background-color: grey;
}
*/
.navegacion{
  max-height: 30px;

}
.contenido{
  text-align: justify;
}
.abajo img{
  max-height: 300px;
}
.search{
  background-color: grey;
}
.bandas li {
  border-radius: 1px;

}
.words{
  border-top: 20px;
}
